<div class="w-full h-full flex justify-center items-center relative mb-5">
    <div class="w-4/5 h-5/6">
        <div class="text-violet text-xl font-semibold text-center pt-5">Task Manager</div>

        <mat-tab-group
            class="mt-5"
            mat-stretch-tabs="false"
            mat-align-tabs="center"
            animationDuration="300ms"
            preserveContent="true"
            [selectedIndex]="tabSelection"
        >
            <mat-tab>
                <ng-template mat-tab-label> All </ng-template>
                <ng-template matTabContent>
                    <app-tasks-list [tasks]="taskService.tasks$ | async"></app-tasks-list>
                </ng-template>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label> Completed </ng-template>
                <ng-template matTabContent>
                    <app-tasks-list [tasks]="completed"></app-tasks-list>
                </ng-template>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label> Incomplete </ng-template>

                <ng-template matTabContent>
                    <app-tasks-list [tasks]="incomplete"></app-tasks-list>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>

    <span
        (click)="openNewTaskDialog()"
        class="h-10 w-10 rounded-full scale-125 absolute bottom-2 right-2 sm:bottom-5 sm:right-5 z-50 flex justify-center items-center cursor-pointer"
    >
        <mat-icon class="text-violet text-2xl scale-150 flex justify-center items-center p-0">add_circle</mat-icon>
    </span>
</div>
