<div class="w-full h-full flex justify-center items-center relative">
  <div class="w-4/5 h-5/6">
    <span class="text-violet text-xl font-semibold">Task Manager</span>

    <mat-tab-group
      class="mt-5"
      mat-stretch-tabs="false"
      mat-align-tabs="center"
      animationDuration="300ms"
      preserveContent="true"
      [selectedIndex]="tabSelection"
      (selectedTabChange)="setTabIndex($event)"
    >
      <mat-tab>
        <ng-template mat-tab-label> All </ng-template>
        <ng-template matTabContent> Allowance content </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label> Completed </ng-template>
        Content 2
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label> Incomplete </ng-template>

        Content 3</mat-tab
      >
    </mat-tab-group>
  </div>

  <span
    class="h-10 w-10 rounded-full scale-125 absolute bottom-5 right-5 z-50 flex justify-center items-center cursor-pointer"
  >
    <mat-icon
      class="text-violet text-2xl scale-150 flex justify-center items-center p-0"
      >add_circle</mat-icon
    >
  </span>
</div>
